<!DOCTYPE html>
<head>
    <title>{{title}}</title>
    <link href="/public/style.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
</head>
<h1 class="title">Episodes</h1>
<table class="table is-fullwidth">
    <thead>
        <tr>
            <th>Episode Number</th>
            <th>Title</th>
            <th>Name</th>
            <th>Season</th>
            <th>Subtitles</th>
            <th>Video Format</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        {{#each episodes}}
        <tr>
            <td>{{IndexNumber}}</td>
            <td><img src="{{../JELLYFIN_URL}}/Items/{{Id}}/Images/Primary?api_key={{../API_KEY}}.jpeg" class="poster"></td>
            td><a href="/episodes/{{Id}}/">{{Name}}</a></td>
            <td>{{Name}}</td>
            
            <td>{{SeasonName}}</td>
            <td>{{HasSubtitles}}</td>
            <td>{{Container}}</td>
            <td>{{CommunityRating}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>