<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Name}} - Player</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    
    {{>navbar}}
    <div class="container mt-5">
        <div class="columns">

            <!-- Video Section (Left Side) -->
            <div class="column is-two-thirds">
                <figure class="image is-16by9">
                    <video controls class="has-ratio">
                        <source src="{{fileUrl}}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </figure>
            </div>

            <!-- Info Section (Right Side) -->
            <div class="column is-one-third">
                <div class="box">
                    <h1 class="title">{{item.SeriesName}}</h1>
                    <h2 class="subtitle">{{item.Name}}</h2>
                    <hr>
                    <p><span class="material-icons">calendar_today</span> Year: {{item.ProductionYear}}</p>
                    <p><span class="material-icons">star</span> Rating: {{item.OfficialRating}}</p>
                    <p><span class="material-icons">movie</span> Season: {{item.SeasonName}}</p>
                    <p><span class="material-icons">confirmation_number</span> Episode: {{item.IndexNumber}}</p>
                    <p><span class="material-icons">info_i</span>{{item.Overview}}</p>
                </div>
                <a class="button is-info" href="/">Home</a>
            </div>

        </div>
    </div>
</body>
</html>