@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";


/* Optional: Customize Bootstrap styles */
.navbar {
    padding: 1rem;
}
.navbar-brand, .navbar-nav .nav-link {
    color: white !important;
}
.poster {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}
